<div class="innercontent clearfix">
		<div class="margin">
		  <h3>Noticia de Consumo de Proteccion/<br />
		    Hoja de Informacci&oacute;n de Protecci&oacute;n Privada<br />
            Union de Credito Beacon</h3>
            
          <p>Para la comunidad, nosotros hacemos todo lo que podemos hacer para proteger la identidad 
            de consumidores y nuestros miembros inclusive los que visitan nuestro sitio del internet. 
            Valoramos su tiempo y su inter&eacute;s en esta organizaci&oacute;n. Colocamos una prioridad alta al 
            asegurar la seguridad y la identidad de los datos que pertenecen a cada consumidor. 
            BCCU est&aacute; enterado que usted nos ha confiado con su informaci&oacute;n y cuentas financieras, 
            y ha compartido tambi&eacute;n informaci&oacute;n personal con nosotros. </p>
          <h1>BCCU's Consumo de Datos de Protecci&oacute;n y Practicas Privadas</h1>
          <p>La Junta de Directores y personal creen que es importante informarle de la protecci&oacute;n de 
            datos y pr&aacute;cticas de identidad que hemos instituido. Nosotros tenemos:</p>
            
          <ul>
            <li>Las pr&aacute;cticas espec&iacute;ficas establecidas de la protecci&oacute;n de la seguridad para asegurar la identidad de informaci&oacute;n.</li>
            <li>Los m&eacute;todos definidos del control para limitar el acceso a la informaci&oacute;n de consumo</li>
            <li>Los procedimientos y los procesos formalizados para asegurar la conservaci&oacute;n de informaci&oacute;n exacta.</li>
            <li>Los procedimientos y las restricciones establecidas en la revelaci&oacute;n de informaci&oacute;n de cuenta de miembro.</li>
            <li>Los est&aacute;ndares definidos para la recogida de datos de consumo, para el uso, y para los m&eacute;todos de almacenamiento requirieron los convenios de consumo de la identidad de datos en el servicio de terceros y arreglos de negocio.</li>
            <li>Nuestro personal esta asegurado y cometido para proteger el derecho del consumidor a la identidad de datos.</li>
            <li>Revelado a nuestros miembros nuestras referencias de identidad y proporcion&oacute; una vista general de pr&aacute;cticas de identidad de la  instituci&oacute;n.</li>
          </ul>
          
          <p>Para asegurar que alcancemos exitosamente estas pr&aacute;cticas de la prioridad, como una organizaci&oacute;n que tenemos:</p>
          
          <ul>
            <li>Las pautas formales establecidas para la administraci&oacute;n y el personal para asegurar que la protecci&oacute;n 
            de datos de consumo y proheber el conocimiento de la identidad de datos es las prioridad absoluta.</li>
            <li>Desarrollado y proporcionado al potencial y miembros existentes una nota detallada acerca de nuestra protecci&oacute;n 
            de datos y pol&iacute;tica de identidad y practices.</li>
            <li>Las pautas establecidas que dictan las condiciones bajo que podemos revelar informaci&oacute;n personal privada acerca 
            de consumidores a partidos no afiliados, y comunicamos esas pautas v&iacute;a esta nota.</li>
          </ul>
          
          <p>La nota de consumo de la protecci&oacute;n/identidad de datos sirve como un libro de consulta para consumidores, los miembros, 
          acreditan la uni&oacute;n de personal, y la administraci&oacute;n con respecto a la protecci&oacute;n de sus datos de miembro y su 
          identidad.</p>
          <h1>La certeza de Informaci&oacute;n</h1>
          <p>Cada esfuerzo se hace para asegurar que nuestros registros de su informaci&oacute;n sean completo y correcto. Si nota 
          un error en su declaraci&oacute;n o en cualquier otra comunicaci&oacute;n de nosotros, por favor contactenos a el n&uacute;mero 
          en lista en sus material de cuenta tan pronto posible.</p>
          <h1>La Colecci&oacute;n y el Uso de Informaci&oacute;n</h1>
          <p>Necesitamos reunir informaci&oacute;n acerca de usted para realizar nuestra relaci&oacute;n del negocio. Sin embargo, 
           para proteger su informaci&oacute;n, nosotros mantenemos e imponemos los procedimientos estrictos de la seguridad.</p>
          <p>Reunimos informaci&oacute;n personal privada acerca de usted de parte de los siguientes:</p>
          
          <ul>
            <li>Informaci&oacute;n que recibimos de usted en aplicaciones y otras formas</li>
            <li>Informaci&oacute;n acerca de sus transacciones con nosotros, nuestros afiliados, o otros</li>
            <li>Informaci&oacute;n que recibimos de una agencia de la cobertura de consumidor</li>
          </ul>
          
          <p>Reunimos s&oacute;lo la informaci&oacute;n necesaria para entregar los productos de la calidad y servicios a nuestros miembros. 
          Los empleados s&oacute;n autorizados y entrenados al acceso a informaci&oacute;n del miembro. Nosotros tambi&eacute;n valoramos 
          continuamente nueva tecnolog&iacute;a como llega a ser disponible y continuar protegiendo mejor su identidad.</p>
          <p>Nosotros no revelamos informaci&oacute;n personal privada acerca de usted a partidos terceros que no son afiliados, sino como es 
          permitido por la ley.</p>
          <p>Podemos revelar la informaci&oacute;n siguiente a compa&ntilde;&iacute;as que realizan los servicios de mercar en nuestro beneficio 
          o a otras instituciones financieras con que tenemos los acuerdos de mercar en coyuntura:</p>
          
          <ul>
            <li>Informaci&oacute;n que recibimos de usted en aplicaciones y otras formas, tal como su nombre, la direcci&oacute;n, 
            y el n&uacute;mero del seguro social</li>
            <li>Informaci&oacute;n acerca de sus transacciones con nosotros, nuestros afiliados, o los otros, tal como su saldo de 
            cuenta, el uso de tarjeta de credito, y la historia de los pagos</li>
            <li>Informaci&oacute;n que recibimos de la agencia de cobertura de consumidor, tal como su historia de solvencia y 
            cr&eacute;dito</li>
          </ul>
          
          <p>Podemos revelar toda informaci&oacute;n de encima que nosotros reunimos, como descrito arriba, a compa&ntilde;&iacute;as 
          que realizan los servicios de mercar en nuestro beneficio o a otras instituciones financieras con quien tenemos los acuerdos 
          de mercar en coyuntura.</p>
          <h1>Compartir la Informaci&oacute;n Dentro de la Uni&oacute;n de Cr&eacute;dito</h1>Restringimos accesos a informaci&oacute;n 
          <p>personal e informaci&oacute;n de cuenta a esos empleados que necesitan saber que esa informaci&oacute;n es para proporcionar los 
          productos y los servicios.</p>
          <p>Bajo ciertas circunstancias, informaci&oacute;n del miembro puede ser revelada a otros departamentos dentro de nuestra 
          Uni&oacute;n de Cr&eacute;dito para vender los productos adicionales y para asegurar que estemos acerca de su relaci&oacute;n 
          entera con nosotros al hacer las decisiones (Por ejemplo, para ofrecerle nuevos productos de pr&eacute;stamo). Nosotros 
          quiz&aacute;s compartamos tambi&eacute;n informaci&oacute;n con estos departamentos para proporcionar los servicios necesarios 
          para mantener sus cuentas (tal como los datos que procesan). Los tipos de informaci&oacute;n incluyen informaci&oacute;n acerca 
          de su identidad, la informaci&oacute;n acerca de su historia de la transacci&oacute;n con la Uni&oacute;n de Cr&eacute;dito, la 
          informaci&oacute;n acerca de su condici&oacute;n financiera actual (tal como detalles acerca de sus ingresos y ventajas), y la 
          informaci&oacute;n obtenida de un informe del cr&eacute;dito y otras fuentes fuera de la Uni&oacute;n de Cr&eacute;dito.</p>
          <p>Si usted decide terminar su asociaci&oacute;n o llegar a ser un miembro inactivo, nosotros desarrollaremos a las 
          pol&iacute;ticas de la identidad y pr&aacute;cticas como se describe en esta nota.</p>
  		  <h1>Compartir la Informaci&oacute;n</h1>
          <p>Cuando es permitido por la ley, nosotros podemos compartir informaci&oacute;n acerca de su identidad (tal como el nombre, el n&uacute;mero del seguro social, el n&uacute;mero de permiso de conducir), las transacciones con nuestra Uni&oacute;n de Ccr&eacute;dito (tal como la historia de la devoluci&oacute;n), su aplicaci&oacute;n (tal como informaci&oacute;n de ingresos y/o ventaja), y el informe del cr&eacute;dito u otra informaci&oacute;n semejante (tal como informaci&oacute;n acerca de su historia del cr&eacute;dito).</p>
          <p>Las situaciones donde compartir ser&iacute;a apropiado, podr&iacute;a incluir: </p>
          
          <ul>
            <li>Cuando contratamos a un tercero partido para ayudar a entregarle nuestros servicios a usted</li>
            <li>La Participaci&oacute;n en programas para el negocio, implicando a empleadores de socios viajes, compras, etc.</li>
            <li>Cuando las oficinas del cr&eacute;dito u otros, como dice, en el curso de pr&aacute;cticas empresariales de costumbre, pide informes de cr&eacute;dito</li>
            <li>Requerido por la ley, en el caso de grabaciones, una venta o la funcion de la parte de nuestro negocio</li>
          </ul>
          <h1>La confidencialidad de Informaci&oacute;n de Miembro en Otras Circunstancias</h1>
          <p>Cu&aacute;ndo nosotros compartimos informaci&oacute;n con tales terceros partidos no-afiliados, nosotros lostodo tales partidos a los est&aacute;ndares mismos o m&aacute;s altos como los que tenemos  nosotros con respecto a la identidad de su informaci&oacute;n. Nosotros tambi&eacute;n les requerimos a nos permiten auditarlos para cumplimiento en esta consideraci&oacute;n.</p>
            <h1>Nuestro Sitio de Internet</h1>
            <p>Cu&aacute;ndo usted visita nuestro sitio del internet en <%= link_to "www.beaconccu.org", "http://www.beaconccu.org" %>, queremos que usted se sienta seguro que respetamos su privacidad. La &uacute;nico informaci&oacute;n privada que tenemos acerca de usted es la informaci&oacute;n que usted escoge darnos (tal como proporcionando la reacci&oacute;n o completar una forma). Nosotros no liberamos esa informaci&oacute;n a otros sin notificarle en la forma y sin obtener su consentimiento.</p>
            <p>Podemos utilizar &quot;cookies&quot; en algunas p&aacute;ginas de nuestro sitio de internet para el prop&oacute;sito de porci&oacute;n para mejorar cuando usted vuelve a ese sitio. Una cookie es un elemento peque&ntilde;o de los datos que un sitio de internet puede mandar a su examinador, que entonces puede ser almacenado en su sistema. Los datos ayuda que se reunan las cookies y determinamos cu&aacute;ntas  personas visitan ciertas p&aacute;ginas, &uacute;ltimamente nos permite mejorar nuestro dise&ntilde;o del sitio y el contenido. Si usted prefiere, su navegador de Internet puede poner y proporcionarle una nota antes que usted acepte una cookie.</p>
  			<h1>Casa </h1>
            <p>Cada miembro que ha solicitado en casa Servicios de Casa Central con nuestra uni&oacute;n de cr&eacute;dito se han proporcionado un c&oacute;digo de acceso autorizado, la contrase&ntilde;a, el n&uacute;mero personal de identificaci&oacute;n, y el n&uacute;mero de tel&eacute;fono asignado de comunicaci&oacute;n o por usted o por nosotros. Utilizamos estos controles combinados de la seguridad y l&iacute;neas especiales de comunicaci&oacute;n no s&oacute;lo proteger a nuestros usuarios de Casa Central, y limitar tambi&eacute;n el riesgo a datos no autorizados conseguir acceso a o los problemas de la seguridad. Si alguien quiere utilizar este servicio, &eacute;l o ella deben someter una aplicaci&oacute;n (list&oacute; en nuestro sitio de internet) y es notificado de c&oacute;digos aprobados de autorizaci&oacute;n y seguridad.</p>
  			<h1>Correo Electr&oacute;nico</h1>
            <p>Cu&aacute;ndo usted nos manda un correo electr&oacute;nico que es general en la naturaleza y nosotros respondemos, &eacute;stos generalmente no son seguros. Un seguro forma de correo electr&oacute;nico est&aacute; disponible apropia como para correos electr&oacute;nicos que contienen informaci&oacute;n personal que debe quedarse seguro.</p>
  			<h1>Los Ni&ntilde;os</h1>
            <p>Protegiedo la privacidad de nuestros ni&ntilde;os es esencial. Por esta rason, nuestro sitio de internet no esta estructurado para atraer ni&ntilde;os bajo la edad de 13.  Consentimiento paternal se requiere para ni&ntilde;os bajo 13 en proporcionar informaci&oacute;n personalmente identificable v&iacute;a nuestro sitio de internet.</p>
 			<h1>C&oacute;mo Contactarnos a nosotros</h1>
            <p>Si usted querr&iacute;a informaci&oacute;n adicional, o tendr&iacute;a las preguntas con respecto a la pol&iacute;tica de la privacidad de BCCU, por favor nos llaman o nos mandan un correo electr&oacute;nico. Usted tambi&eacute;n nos puede escribir, o pasar  por una de nuestras oficinas y discutir sus preguntas con uno de nuestro representantes.</p>
            <h1>Como Contactarnos </h1>
         
          <table>
            <tr>
              <td><ul>
                <li>Llamando a nuestro Escritorio de Control de la Privacidad de Datos de Miembro en (502) 366-6022 o 1-800-363-6022 </li>
                <li>Nos contactan en persona visitando a una de nuestras oficinas y hablando con nuestros Servicios al Cliente</li>
                <li> Nos Escribe a nuestra direccion:<br />
                  Escritorio de Control de Privacidad de Datos de Miembro<br />7910 National Turnpike<br />Louisville, KY 40214</li>
                <li> Nos manda un Correo Electronico a: <%= mail_to "beaconccu@beaconccu.org", "beaconccu@beaconccu.org" %> 
                dirigido a nuestro Servicio Al Cliente.</li>
              </ul>
                
                <p>Por favor incluya el nombre, direcci&oacute;n, n&uacute;mero del seguro social, y los n&uacute;meros de cuenta deseados.</p></td>
            </tr>
          </table>

	    </div>