<A NAME="top"></a>
<table width=565 border="0" bordercolor="red" cellspacing="0" cellpadding="0" bgcolor="#ffffff" height="100%">
	<tr>
<td valign="top" width="565" height="100%"><!-- starts -->
	<table width="530" border="0" cellspacing="0" cellpadding="0" align="center" bordercolor="#0000ff">
<tr>
<td class="main"><!-- main part starts -->

<p align="center" class="title">Preguntas mas frequentes

</p><p></p>

<strong><i>¿Que programa tengo que usar para acceder a este sitio?</i></strong>
				<br /> Tienes que usar un programa que sea compatible la encripcion. 
				Por ejemplo, Netscape Navigator o Versiones de Microsoft Internet 
				Explorer 3.0 o mas avansado son recomendadas.  
      	<p><strong><i> ¿Como puedo encontrar mi numero de indentificaicion? y ¿Puedo yo cambiar mi numero?</i></strong>
	  			<br />El numero usado en este sitio es el mismo de el que usas para revisar tu cuenta por telefono.</p>
      			<p>Puedes cambiar el numero, atraves del internet o del mismo telefono. El numero 
      			revisado trabajara en ambos sistemas. Tienes que usar un numero no letras para este 
      			proposito porque el sistema solamente soporta numeros. Tu numero puede estar de 
      			4 a 9 digitos. Lo mas largo que sea el numero, lo mas dificil va a hacer para comprometerlo.
      </p><p><strong><i>Cuando estoy entrando a este sitio recivo un mensaje preguntandome que permita al sistema arreglar una cookie.   ¿Que quiere decir  esto?</i></strong>
	  			<br />Este sitio asigna una seccion de identificacion cada vez que entras a el. Esta identificion 
	  			es indentificada cada vez que recives o mandas un mensaje. Esta seccion  proheve seguridad para 
	  			tu informacion  privada  y solamente responde informacion que es para ti nada mas. Esta seccion 
	  			de cookie no se queda en tu computadora  y es borrada cuando sales del internet. Sin estas 
	  			cookies, no podras revisar tus cuentas en este sitio. 
      </p><p><strong><i>Sigo reciviendo mensajes diciendo “ Time Out” cada vez que entro para revisar mi cuenta. </i></strong>
	  			<br />Puede que no tengas tus cookies arregladas correctamente. Mira la pregunta de arriba. 
      </p><p><strong><i>¿Que funciones estan disponibles en este sitio?</i></strong>
	 			 <br />Puedes transferir entre cuentas, pagar prestamos, revisar historia de transacciones, 
	 			 verificar y ver los cheques que han entrado a tu cuenta y retiros en cash. 
      </p><p><strong><i>¿Debo de pagar por este servicio?</i></strong>
	  			<br />No. No hay ningun cargo por usar las funciones basicas en este sitio.
      </p><p><strong><i>¿Cuando las transacciones se veran en mi cuenta?</i></strong>
	  			<br />El sistema es por internet y tiempo real. Tu cuenta sera renovada  tan pronto termines 
	  			tu transaccion. Si terminas tu transaccion despues de horas de trabajo y tratas de ver tu 
	  			historia de cuenta, sera puesta el proximo dia de trabajo.  
      </p><p><strong><i>¿Puedo bajar informacion de este sitio a mi coputadora?</i></strong>
	  			<br />Si, este sitio te permitira bajar informacion solamente para un programa de 
	  			financiamiento llamado Quicken o Microsoft Money.
      </p><p><strong><i>¿Por que periodo estan la transacciones y verificaciones de cheques disponibles?</i></strong>
	  			<br />Este sitio te permite que veas tus transacciones y verificaciones de cheques por lo menos de un ano de historia.
      </p><p><strong><i>¿Que sobre problemas de seguridad? ¿Pueden otras personas ver mi cuenta  o ver que estoy haciendo con mis transacciones?</i></strong>
	  			<br />
	  			Usamos lo mejor en el mercado de seguridad. Tambien si tu seccion esta sin inactividad por mas 
	  			de cinco minutos sera cerrada requiriendote que introduscas tu numero de indentificacion y tu 
	  			numero de cuenta otra vez. Por seguridad este sitio solo aceptara tu numero incorrecto tres 
	  			veces antes de que desactive. Recomendamos que no le digas a nadie tu numero de indentificacion 
	  			o nunca lo dejes en un lugar visible para otros.  Puedes visitar 
				<%= link_to "nuestra seccion separada de  informacion de seguridad", hb_securitysp_path %>.<br />

</p><p align="center"><%= image_tag "NCUA_big.gif", :width => 80, :height => 36, :alt =>"", :border =>"0" %></p>

<p align="center" class="main"><%= link_to "Back to Top", :anchor => "top" %></p>

<hr align="CENTER" width="100%" color="#336699" size=1 noshade />
<table border="0" cellpadding="0" cellspacing="0" align="center" valign="bottom">
	<tr>
		<td valign="top">
		<font face="Times" size="-3" color="#c0c0c0">Site design:</font></td>
		<td valign="top">
		<%= link_to image_tag("share1logo_sm.gif", :width => 88, :height => 27, :alt =>"Share One, Inc.", :border => 0), "http://www.shareone.com", :rel => "external" %></td>
	</tr>
</table>
</center>
</td>
</tr>
</table><!-- ends -->
</td>
</tr>
</table>