<div class="innercontent clearfix">
		<div class="margin">
		    <h1>La Notificacion de Seguridad para el Beacon Union de Credito Sitio del Acceso de Cuenta</h1>
		    <p> La Union de Credito puede controlar y poder auditar el uso de este sistema, y de todas 
                personas por la presente son notificadas que el uso de este sistema constituye el 
                consentimiento a controlar y auditar.  Las tentativas no autorizadas cargar informacion 
                en este sitio de Internet se prohibe estrictamente y es susceptible a la prosecucion bajo 
                el Fraude de la Computadora y el Acto del Abuso de 1986 y Titula 18 U.S.C. Sec. 1001 y 1030.</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		</div>