<div class="innercontent clearfix">
		<div class="margin">
		  <h3>About Us</h3>
          <h5><a name="sharedraft" class="sharedraft"></a><%= image_tag "anchor_blue.gif", :alt => " anchor" %>    				
         	   Credit Union History:</h5>
           <p>Beacon Credit Union was chartered in 1947 to serve the employees of the Naval Ordnance Station in Louisville,   			
               Kentucky and was originally named Louisville Naval Ordnance Plant Employees Credit Union.  Since that time we have   			
               obtained more select employee groups and family members to increase our membership.  It is the desire of the Board   			
               of Directors and staff to serve our members with top quality financial products.  In 2004, years after the plant   			
               closure at the Naval Ordnance Station, we changed our name to Beacon Credit Union.  If you are interested in   			
               credit union membership please call one of our member service representatives for more information.</p>
          <h5><a name="sharedraft" class="sharedraft"></a><%= image_tag "anchor_blue.gif", :alt => "anchor" %>
          	   Office Closing Schedule:</h5>
          <table id="closings">
              <tr>
                <td class="dark">New Year's Day</td>
                <td class="dark">Thursday, January 1, 2009</td>
              </tr>
              <tr>
                <td class="light">Martin Luther King Day</td>
                <td class="light">Monday, January 19</td>
              </tr>
              <tr>
                <td class="dark">President's Day</td>
                <td class="dark">Monday, February 16</td>
              </tr>
              <tr>
                <td class="light">Memorial Day</td>
                <td class="light">Monday, May 25</td>
              </tr>
              <tr>
                <td class="dark">Independence Day</td>
                <td class="dark">Saturday, July 4</td>
              </tr>
              <tr>
                <td class="light">Labor Day</td>
                <td class="light">Monday, September 7</td>
              </tr>
              <tr>
                <td class="dark">Columbus Day</td>
                <td class="dark">Monday, October 12</td>
              </tr>
              <tr>
                <td class="light">Veterans Day</td>
                <td class="light">Wednesday, November 11</td>
              </tr>
              <tr>
                <td class="dark">Thanksgiving Day</td>
                <td class="dark">Thursday, November 26</td>
              </tr>
              <tr>
                <td class="light">Christmas Eve (Close at 12:30 p.m.)</td>
                <td class="light">Thursday, December 24</td>
              </tr>
              <tr>
                <td class="dark">Christmas Day</td>
                <td class="dark">Friday, December 25</td>
              </tr>
              <tr>
                <td class="light">New Year's Eve (Close at 12:30 p.m.)</td>
                <td class="light">Thursday, December 31</td>
              </tr>
              <tr>
                <td class="dark">New Year's Day</td>
                <td class="dark">Friday, January 1, 2010</td>
              </tr>
          </table>
		</div>