<div class="innercontent clearfix">
		<div class="margin">
		  <h3>Contact us!</h3>
		  <hr />	  
		  <ul>
            <li>
              <table class="contact">
                <tr>
                  <th colspan="2"><p class="contact"><a name="sharedraft"></a>Phone:</p></th>
                </tr>
                
                <tr>
                  <td rowspan="2"><br />
                    <%= image_tag "phone1.gif", :alt =>"phone" %></td>
                  <td>
                    <blockquote>
                      <p><strong>Main Office - National Turnpike</strong><br />
                        (502) 366-6022 <br />
                        (800) 363-6022<br />
                        <br />
                        <strong>Shepherdsville Office</strong><br />
                        (502) 957-1277 </p>
                      <table id="left">
                        <tr>
                          <td>Audio Teller</td>
                          <td>&gt; Press 1</td>
                        </tr>
                        <tr>
                          <td>Loan Dept.</td>
                          <td>&gt; Press 2</td>
                        </tr>
                        <tr>
                          <td>Member Service</td>
                          <td>&gt; Press 4</td>
                        </tr>
                        <tr>
                          <td>Real estate</td>
                          <td>&gt; 4736</td>
                        </tr>
                      </table>
                      <p><strong>Airport Industrial Center (former Naval Ordnance
                          Station)</strong></p>
                     <p>128 Rochester Drive</p>
                     <p>Monday - Friday<br />
                        Lobby open 11:00 - 4:00<br />
                        Walk Up open 10:00 - 4:00<br />
                      </p>
                      <table>
                          <tr>
                              <td><p> Audio Teller </p></td>
                              <td><p> - Press 1 </p></td>
                          </tr>
                          <tr>
                              <td><p> Loan Dept. </p></td>
                              <td><p> - Press 2 </p></td>
                          </tr>
                          <tr>
                              <td><p> Member Service </p></td>
                              <td><p> - Press 4 </p></td>
                          </tr>
                          <tr>
                              <td><p> Real estate </p></td>
                              <td><p> - ext: 4736 </p></td>
                          </tr>
                      </table>
                    </blockquote>
                  </td>
                </tr>
                
              </table>
            </li>
            <li>
              <table class="contact">
                <tr>
                  <td colspan="2"><p class="contact"><a name="sharedraft"></a>Fax:</p></td>
                </tr>
                <tr>
                  <td>
                  <blockquote>
                    <p><strong>Main Office - National Turnpike</strong><br />(502) 366-6297</p>
                    <p><strong>Shepherdsville Office</strong><br />(502) 543-1007</p>
                  </blockquote></td>
                  </tr>
                </table>
            </li>
            <li>
              <table class="contact">     
                <tr>
                  <td colspan="2"> <p class="contact"><a name="sharedraft"></a>Email:</p></td>
                </tr>
                <tr>
                  <td>
                  <blockquote>
                    <p><%= mail_to "beaconccu@beaconccu.org", "beaconccu@beaconccu.org" %></p>
                  </blockquote></td>
                </tr>
              </table>
            </li>
            <li>
              <table class="contact">
                <tr>
                  <td colspan="2"><p class="contact"><a name="sharedraft"></a>Emergency Notification Numbers:</p></td>
                </tr>
                <tr>
                  <td rowspan="4"><br />
                  <%= image_tag "emergency.gif", :alt => "emergency alarm" %></td>
                  <td><p>If you lose or have your VISA stolen<br />
                  Call 1-800-237-6211</p></td>
                </tr>
                <tr>
                  <td><p>If you lose or have your STAR or MasterMoney (debit card) stolen<br />
                  Call 1-800-523-4175</p></td>
                </tr>
              </table>
            </li>
          </ul>
	    </div>