<div class="innercontent clearfix">
		<div class="margin">
		  <h3>Consumer Data rotection/Privacy Information Sheet &nbsp;<br />Initial Notice</h3>
          <h1>Beacon Credit Union</h1>
          <p>At Beacon Credit Union 
            (&quot;BCU&quot;), we do everything we can to protect the
            privacy of consumers and our members including those who visit our Web
            site. We value your time and your interest in this organization. We place
            a high priority on ensuring the security and privacy of data pertaining to
            each consumer. BCU is aware that you have entrusted us with your financial
            information and accounts, and also have shared personal information with
            us.</p>
          <h1>BCU's Consumer Data Protection and Privacy Practices</h1>
             <p>BCU's Board of Directors and Staff believe it is important to inform you of the data protection 
             and privacy practices that we have instituted. We have:</p>
          <ul>
            <li>Established specific security protection practices to ensure privacy of information</li>
            <li>Defined control methods to limit access to consumer information</li>
            <li>Formalized procedures and processes to ensure the maintenance of accurate information</li>
            <li>Established procedures and restrictions on disclosure of member account information</li>
            <li>Defined standards for consumer data collection, use, and methods of storage required consumer data privacy covenants in third-party service and business arrangements</li>
            <li>Ensured our staff is committed to protect a consumer&rsquo;s right to data privacy</li>
            <li>Disclosed to our members our privacy benchmarks and provided an overview of institution privacy practices</li>
          </ul>
          
          <p>To ensure that we successfully accomplish these priority practices, as an organization we have:</p>
          <ul>
            <li>Established formal guidelines for management and staff to ensure that the protection of consumer data and staff 
            awareness of data privacy are top priorities</li>
            <li>Developed and provided to potential and existing members a detailed notice about our data protection and privacy 
            policy and practices</li>
            <li>Established guidelines that dictate conditions under which we can disclose nonpublic personal information about 
            consumers to nonaffiliated parties, and communicated those guidelines via this notice</li>
          </ul>
          
          <p>The consumer data protection/privacy notice serves as a reference guide for consumers,
            members, credit union staff, and management regarding the protection of
            your member data and your privacy.</p>
          <h1>Accuracy of Information</h1>
          <p>Every effort is made to ensure that our records of your
            information are complete and correct. If an error is noted on your
            statement or in any other communication from us, please contact us at the
            number listed on your account materials as soon as possible.</p>
          <h1>The Collection and Use of Information</h1>
          <p>We need to collect information
            about you to conduct our business relationship. However, in order to
            protect your information, we maintain and enforce strict security
            procedures.</p>
          <p>We collect nonpublic personal information about you from the following sources:</p>
          
          <ul>
            <li>Information we received from you on applications or other forms</li>
            <li>Information about your transactions with us, our affiliates, or others</li>
            <li>Information we receive from a consumer reporting agency</li>
          </ul>
          <p>We collect only the information necessary to deliver quality products and services to our
            members. Only authorized and trained employees have access to member
            information. We also are continually assessing new technology as it
            becomes available in order to continue to best protect your privacy.</p>
          <p>We do not disclose any nonpublic personal information about you to nonaffiliated third parties,
            except as permitted by law.</p>
          <p>We may disclose the following information to companies that perform marketing services on our behalf or
            to other financial institutions with which we have joint marketing agreements:</p>
            
          <ul>
            <li>Information we receive from you on applications or other forms, such as your name, address, and social security number</li>
            <li>Information about your transactions with us, our affiliates, or others, such as your account balance, credit card usage, and payment history</li>
            <li>Information we receive from a consumer reporting agency, such as your creditworthiness and credit history</li>
          </ul>
          
          <p>We may disclose all of the above information we collect, as described above, to companies that
            perform marketing services on our behalf or to other financial
            institutions with whom we have joint marketing agreements.</p>
          <h1>Sharing of Information Within the Credit Union</h1>
          <p>We restrict access to your personal
            and account information to those employees who need to know that
            information to provide products and services to you.</p>
          <p>Under certain circumstances, member information may be revealed to other departments within our credit union in 
            order to market additional products and to ensure we are considering your entire relationship with us when making 
            decisions about your products (e.g., offering you new loan products).  We might also share information with these 
            departments in order to provide services necessary to maintain your accounts (such as data processing). The types 
            of information include information about your identity, information about your transaction history with the credit 
            union, information about your current financial condition (such as details about your income and assets), and information 
            obtained from a credit report or other sources outside of the credit union.</p>
          <p>If you decide to terminate your membership or become an inactive member, we will adhere to the privacy policies and 
            practices as described in this notice.</p>
 
  <h1>Sharing of Information</h1>
          <p>As permitted by law, we may share information about your identity (such 
            as name, social security number, driver&rsquo;s license number), transactions 
            with our credit union (such as repayment history), your application (such 
            as income and/or asset information), and credit report or other similar 
            information (such as information about your credit history).</p>
          <p>Situations where this type of sharing would be appropriate could include: </p>
          
          <ul>
            <li>When we contract with third parties to help deliver our services to you</li>
            <li>Involvement in programs for business, involving employers of cardholders for travel, purchasing, etc.</li>
            <li>When credit bureaus or others, as appropriate, in the course of customary business practices, ask for credit references</li>
            <li>As required by law, in the instance of lien recordings, a sale or merger of part of our business</li>
          </ul>
          
          <h1>Confidentiality of Member Information in Other Circumstances</h1>
          <p>When we share information with such non-affiliated third parties, 
            we hold all such parties to the same or higher standards as we do ourselves 
            with respect to privacy of your information. As an added safeguard, we 
            also require them to allow us to audit them for compliance in this regard.</p>
            
          <h1>Our Web Site</h1>
          <p>When you visit our Web site at <a href="http://www.beaconccu.org">www.beaconccu.org</a>,
            we want you to feel secure that we are respecting your privacy. The only 
            private information we have about you is the information you choose to 
            give us (such as providing feedback or completing a form). We do not release 
            that information to others without notifying you on the form and getting 
            your consent.</p>
          <p>We may use &quot;cookies&quot; on some pages of our Web site for the purpose of 
            serving you better when you return to that site. A cookie is a small element 
            of data that a Web site can send to your browser, which may then be stored 
            on your system. Data collected from cookies helps us determine how many 
            people visit certain pages, ultimately enabling us to improve our site 
            design and content. If you prefer, your Web browser can be set to provide 
            you a notice before you accept a cookie.</p>
          <h1>Home Branch</h1>
          <p>Each member that has requested Home Branch Services with our credit union 
            has been provided an authorized access code, password, personal identification 
            number, and assigned communication telephone number either by you or by 
            us. We use these combined security controls and special communication 
            lines to not only protect our Home Branch users, but also limit the risk 
            to unauthorized data access or security problems. If someone wants to 
            use this service, he or she must submit an application (listed at our 
            Web site) and be notified of approved authorization and security codes.</p>
          <h1>E-Mail</h1>
          <p>When you send us an e-mail that is general in nature and we respond, these 
            are generally not secure. A secure (encrypted) e-mail form is available 
            as appropriate for e-mails that contain personal information that should 
            remain secure.</p>
          <h1>Children&rsquo;s Privacy</h1>
          <p>Protecting the privacy of our children is essential. For that reason, 
            our Web site is not structured to attract children under the age of 13. 
            Parental consent is required for children under 13 to provide personally 
            identifiable information via our Web site.</p>
          <h1>How to Contact Us</h1>
          <p>If you would like additional information, or have questions regarding 
            BCU's privacy policy, please telephone us or send us an e-mail. You may 
            also write us, or stop by one of our offices and discuss your questions 
            with one of our staff.</p>
          <h1>CONTACT INFORMATION</h1>
          
          <table>
            <tr>
              <td><ul> <li>Calling our Member Data Privacy Control Desk at (502) 366-6022 or 1-800-363-6022</li> <li>Contacting us in person by stopping at one of our offices and speaking to our Member Services staff</li> <li>Writing us at: Beacon Credit Union<br /> Member Data Privacy Control Desk<br />   7910 National Turnpike<br />   Louisville, KY 40214</li> <li>E-mail us at <%= mail_to "beaconccu@beaconccu.org", "beaconccu@beaconccu.org" %> directed to our Member Data Privacy Desk&nbsp;</li>
              </ul> <p> Please include the name, address, social security number, and account numbers of all affected accounts with us.</p></td>
            </tr>
          </table>
          <p class="centertext"><%= link_to "Back to Top", :anchor => "top" %></p>
          
	    </div>