<div class="innercontent clearfix">
		<div class="margin">
		  <h3>Fee Schedule for the following services:</h3>
          Various rates, fees, charges, and limitations apply to the different type of accounts BCU offers:
          <blockquote>
            <p class="prodhead"><%= link_to "Savings Services", :anchor => "savings" %></p>
            <p class="prodhead"><%= link_to "Share Draft Services", :anchor => "sharedraft" %></p>
            <p class="prodhead"><%= link_to "ATM Services", :anchor => "atm" %></p>
            <p class="prodhead"><%= link_to "Savings Services", :anchor => "moneymaster" %></p>
          </blockquote>
          <!-- Savings Services -->
          
           <a name="savings"></a>
        <table class="rates">
              <tr>
                <th colspan="2">Savings Services</th>
              </tr>
              <tr>
                <td>Certified Checks</td>
                <td>$4.00 per item</td>
              </tr>
              <tr>
                <td>Money Orders</td>
                <td>$1.00 per item</td>
              </tr>
              <tr>
                <td>Traveler's Checks</td>
                <td>$1.10 per $100</td>
              </tr>
              <tr>
                <td>Traveler's Checks for Two</td>
                <td>$1.60 per $100</td>
              </tr>
              <tr>
                <td>Return Deposit Item (2 party)</td>
                <td>$5.00 per item</td>
              </tr>
              <tr>
                <td>Return Deposit Item (1 party)</td>
                <td>$25.00 per item</td>
              </tr>
              <tr>
                <td>Judicial Attachment (Garnishment)</td>
                <td>$35.00 per attachment</td>
              </tr>
              <tr>
                <td>Notary Public</td>
                <td>Free</td>
              </tr>
              <tr>
                <td>Research Account</td>
                <td>$15.00 per hour</td>
              </tr>
              <tr>
                <td>Balancing Assistance</td>
                <td>$15.00 per hour</td>
              </tr>
              <tr>
                <td>Document Copy</td>
                <td>$4.00 per item</td>
              </tr>
              <tr>
                <td>Wire transfer (domestic)</td>
                <td>$15.00 per wire</td>
              </tr>
              <tr>
                <td>Dormant Account</td>
                <td>$15.00 per quarter</td>
              </tr>
              <tr>
                <td>USPS Return Mail Fee</td>
                <td>Up to $10.00 Maximum</td>
              </tr>
              <tr>
                <td>Re-open Account</td>
                <td>$10.00</td>
              </tr>
              <tr>
                <td>Official Check Withdrawal payable to third party </td>
                <td>$4.00 per item</td>
              </tr>
              <tr>
                <td>Early Close Penalty for new accounts closed within 30 Days</td>
                <td>$5.00 per account</td>
              </tr>
              <tr>
                <td>Visa Gift Cards </td>
                <td>$3.00 per Gift Card</td>
              </tr>
              <tr>
                <td>Cash or Deposit of Non-Member Check </td>
                <td>$7.00 per check</td>
              </tr>
          </table>
          
           <a name="sharedraft"></a>
      <table class="rates">
              <tr>
                <th colspan="2">Share Draft Services</th>
              </tr>
              <tr>
                <td>NSF Draft, NSF ACH item or NSF Bill Pay item</td>
                <td>$25.00 per item</td>
              </tr>
              <tr>
                <td>Stop Payment, if item would not cause NSF</td>
                <td>$10.00 per item</td>
              </tr>
              <tr>
                <td>Stop Payment, if item would cause NSF</td>
                <td>$25.00 per item</td>
              </tr>
              <tr>
                <td>Copies of Drafts</td>
                <td>$4.00 per item</td>
              </tr>
              <tr>
                <td>Overdraft Transfer</td>
                <td>$3.00 per item</td>
              </tr>
              <tr>
                <td>Certified Draft</td>
                <td>$4.00 per item</td>
              </tr>
              <tr>
                <td>EZ Home Bill Pay</td>
                <td>FREE</td>
              </tr>
              <tr>
                <td>Courtesy Pay fee (if applicable)</td>
                <td>$25.00 per item</td>
              </tr>
              <tr>
                <td>Money Market Checking Feature</td>
                <td>&amp;</td>
              </tr>
              <tr>
                <td>Up to 6 withdrawals per month of which 3 may be by check.</td>
                <td>After 6 transactions, then $2.00 per item, with a minimum fee of $10.00</td>
              </tr>
          </table>
          
           <a name="atm"></a>
      <table class="rates">
              <tr>
                <th colspan="2">ATM Services</th>
              </tr>
              <tr>
                <td> Initial Card Fee</td>
                <td>Free</td>
              </tr>
              <tr>
                <td>NSF/Overdrawn ATM Withdrawal</td>
                <td>$25.00 per item</td>
              </tr>
              <tr>
                <td>Replacement Card</td>
                <td>$10.00 per card</td>
              </tr>
              <tr>
                <td>Classic Share Draft features:</td>
                <td>&amp;</td>
              </tr>
              <tr>
                <td>STAR&trade; Transactions</td>
                <td>6 transactions free, $1.00 per item thereafter</td>
              </tr>
              <tr>
                <td>All PLUS&trade;/Honor Transactions</td>
                <td>$2.00 per item, excluding deposits</td>
              </tr>
              <tr>
                <td>Easy Living Share Draft features:</td>
                <td>&amp;</td>
              </tr>
              <tr>
                <td>STAR&trade; Transactions</td>
                <td>16 transactions free, $1.00 per item thereafter</td>
              </tr>
              <tr>
                <td>All PLUS&trade;/Honor Transactions</td>
                <td>$2.00 per item, excluding deposits</td>
              </tr>
              <tr>
                <td>Classic Gold Accounts</td>
                <td>ATM Transactions are Free</td>
              </tr>
              <tr>
                <td>CIRRUS&trade; / VISA&trade; Cash Advances</td>
                <td>$2.00 per transaction</td>
              </tr>
          </table>
          
           <a name="moneymaster"></a>
      <table class="rates">
              <tr>
                <th colspan="2">MoneyMaster&trade; Card Services</th>
              </tr>
              <tr>
                <td>NSF Transaction</td>
                <td>$25.00 per item</td>
              </tr>
              <tr>
                <td>Overdraft Transfer</td>
                <td>$3.00 per item</td>
              </tr>
              <tr>
                <td>Sales Draft Copy</td>
                <td>$3.50 per item</td>
              </tr>
              <tr>
                <td>Replacement Card</td>
                <td>$10.00 per card</td>
              </tr>
              <tr>
                <td>ATM Transactions</td>
                <td>Based on type of share draft account above</td>
              </tr>
              <tr>
                <td>Stop Payment Fee</td>
                <td>Stop payments are prohibited on MoneyMaster&trade;</td>
              </tr>
          </table>
          <br />
          Monthly fees, if applicable, will be charged on the  last business day of each month. 
        All other fees are charged as the  transaction occurs. 
    </div>