<div class="innercontent clearfix">
		<div class="margin">
		    <h1>Security Notification for Beacon Credit
		        Union Account Access Site</h1>
		    <p> Beacon Credit Union may monitor and audit the usage of
		        this system, and all persons are hereby notified that the use of this
		        system constitutes consent to such monitoring and auditing. Unauthorized
		        attempts to upload information on this web site is strictly prohibited
		        and are subject to prosecution under the Computer Fraud and Abuse Act
		        of 1986 and Title 18 U.S.C. Sec. 1001 and 1030. </p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		    <p>&nbsp;</p>
		</div>