<table width=565 border="0" bordercolor="red" cellspacing="0" cellpadding="0" bgcolor="#ffffff" height="100%">
	<tr>
<td valign="top" width="565" height="100%"><!-- starts -->
	<table width="530" border="0" cellspacing="0" cellpadding="0" align="center" bordercolor="#0000ff">
<tr>
<td class="main"><!-- main part starts -->

<p align="center" class="title">Frequently Asked Questions

</p><p></p>

<strong><i>What browser should I use to access Home Banking?</i></strong>
				<br /> You must use a browser that supports encryption. Netscape Navigator or
      				Microsoft Internet Explorer versions 3.0 and higher are recommended.
      	<p><strong><i>Where do I find my Personal Identification Number? And can I change my PIN?</i></strong>
	  			<br />The PIN used for Home Banking is the same one used for Info Teller.</p>
      			<p>You can change your PIN, either through Home Banking or through Info
      				Teller. The revised PIN will work for both systems. You must use a numeric
				      PIN for this purpose, since the Info Teller system only accepts numbers.
				      Your PIN can range from 4 to 9 digits. The more digits in the PIN, the
				      harder it is to compromise the number.
      </p><p><strong><i>When logging on, I received a message asking me to allow the system to set a cookie. What does this mean?</i></strong>
	  			<br /> Home Banking assigns a random session ID each time you log in. This ID is verified each time you send or receive information from Home Banking. The
      					session ID provides security for your private information by responding only to requests that are intended for you. The session cookie is not
      					stored on your computer, and it is dismissed when you exit your browser or are logged out after the inactivity period. Without accepting this
      					session ID (cookie), you cannot explore your accounts with Home Banking.
      </p><p><strong><i>I keep getting &quot;time out&quot; messages each time I try to explore my account information.</i></strong>
	  			<br />You may not have your browser set to allow &quot;cookies&quot;. See the question above.
      </p><p><strong><i>What functions are available through Home Banking?</i></strong>
	 			 <br /> Transfers between suffixes, loan payments, account inquiries, transaction
      					history, verification of cleared checks, and withdrawals (a check is mailed to you).
      </p><p><strong><i>Is there a fee for using Home Banking?</i></strong>
	  			<br />There is no fee for using the basic functions of Home Banking.
      </p><p><strong><i>When will transactions be posted?</i></strong>
	  			<br />The system is online and real time. Your account will be updated as soon as you complete the transaction. If you complete a transaction after
      				normal business hours and try to view account history, you need to change the reference date at the bottom to the next business day.
      </p><p><strong><i>May I download information to my financial management software?</i></strong>
	  			<br />Yes, Home Banking allows downloading to either Quicken or Microsoft Money.
      </p><p><strong><i>For what periods is &quot;transaction history&quot; and check verification available?</i></strong>
	  			<br />Home Banking allows you to span a years worth of transaction activity!
      </p><p><strong><i>What about security issues? Can other people see my accounts or watch what I'm doing with my transactions?</i></strong>
	  			<br />We use the best available technology in security, firewalls and encryption. Also, if your Home Banking session is inactive for more than a
      				few minutes, the session will &quot;time out&quot;, requiring you to enter your account and PIN again before continuing. As an additional security
      				measure, Home Banking will only accept three (3) invalid PIN attempt before locking the account out. We advise you not to share your PIN with
      				others, or to keep it in any place readily accessible to others. You may want to <%= link_to "check out our separate section on Security Information",hb_security_path %>.<br />

</p><p align="center"><%= image_tag "NCUA_big.gif", :width => 80, :height => 36, :alt => "", :border => 0 %></p>

<hr align="center" width="100%" color="#336699" size=1 noshade />
<table borde=0 cellpadding=0 cellspacing=0 align="center" valign="bottom">
	<tr>
		<td valign=top>
		<font face="Times" size="-3" color="#c0c0c0">Site design:</font></td>
		<td valign=top>
		<%= link_to image_tag("share1logo_sm.gif", :width => 88, :height => 27, :alt => "Share One, Inc.", :border => 0), "http://www.shareone.com", :rel => "external" %></td>
	</tr>
</table>
</center>
</td>
</tr>
</table><!-- ends -->
</td>
</tr>
</table>
